body {
    background-color: #32aff3;
}

.main {
    margin: auto;
    width: 20%;
}

.button {
    margin: auto;
    width: 20%;
}

.reg_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 250px;
    height: 100px;
}

.vote_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 250px;
    height: 100px;
}