body {
    background-color: #32aff3;
}

.logo {
    margin: auto;
    padding-left: 30.5%;
    padding-right: 31%;
    width: 500px;
}

.button {
    margin: auto;
    width: 20%;
}

.reg_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.vote_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.admin_but {
    background-color: #c2b9b9;
    color: rgb(253, 255, 221);
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: rgb(228, 217, 217);
    border-radius: 25px;
    border-width: 7px;
    margin: auto;
    padding: 2%;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.reg_form {
    margin: auto;
    width: 25%;
    font-family: "Century Gothic";
    font-size: 18px;
    color: rgb(15, 15, 15)
}

.reg_field_set {
    border-color: rgb(255, 58, 58);
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    padding-top: 4px;
}

.reg_sub {
    font-family: "Century Gothic";
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    border-width: 3px;
    cursor: pointer;
    background-color: #58C3FD;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 35px;
}

.reg_confirm {
    margin: auto;
    width: 30%;
    text-align: center;
    font-family: "Century Gothic";
}