body {
    background-color: #32aff3;
}

.logo {
    margin: auto;
    padding-left: 30.5%;
    padding-right: 31%;
    width: 500px;
}

.button {
    margin: auto;
    width: 20%;
}

.reg_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.vote_but {
    background-color: #58C3FD;
    color: white;
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: white;
    border-radius: 25px;
    border-width: 7px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.admin_but {
    background-color: #c2b9b9;
    color: rgb(253, 255, 221);
    font-size: 25px;
    font-family: "Century Gothic";
    border-color: rgb(228, 217, 217);
    border-radius: 25px;
    border-width: 7px;
    width: 90%;
    height: 100px;
    cursor: pointer;
}

.form {
    margin: auto;
    width: 20%;
}